@model ASP_PROJECT.Models.Bookmark

@if (ViewBag.Message != null)
{

    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

@* <div class="d-flex justify-content-center">

    <a class="btn btn-outline-success" href="/Bookmarks/New">Adauga bookmark</a>
    <br />

</div> *@

<br />


@foreach (ASP_PROJECT.Models.Bookmark bookmark in ViewBag.Bookmarks)
{
    <a class="btn btn-success" href="/Bookmarks/Show/@bookmark.Id">

    @Html.Partial("BookmarkInfo",bookmark)

    <br />
    <br />
    </a>
}


