@model ASP_PROJECT.Models.Bookmark

@if (ViewBag.message != null)
{

    <h2 class=@ViewBag.messageType>@ViewBag.message</h2>
}

<br />
<h2 class="text-white text-center">Cele mai recente bookmarks</h2>
@foreach (ASP_PROJECT.Models.Bookmark bookmark in ViewBag.BookmarksDate)
{
    <a class="btn btn-success" href="/Bookmarks/Show/@bookmark.Id">

    @Html.Partial("BookmarkInfo",bookmark)

    <br />
    <br />
    </a>
}
</div>


