@model ASP_PROJECT.Models.Bookmark

@if (ViewBag.message != null)
{

    <h2 class=@ViewBag.messageType>@ViewBag.message</h2>
}

@* <div class="d-flex justify-content-center">

    <a class="btn btn-outline-success" href="/Bookmarks/New">Adauga bookmark</a>
    <br />

</div> *@

<br />
<div class="d-flex flex-row flex-wrap justify-content-space evenly gap-3">

@foreach (ASP_PROJECT.Models.Bookmark bookmark in ViewBag.Bookmarks)
{
    <a class="btn btn-success" href="/Bookmarks/Show/@bookmark.Id">

    @Html.Partial("BookmarkInfo",bookmark)

    <br />
    <br />
    </a>
}
</div>


