@model ASP_PROJECT.Models.Bookmark
<br />
<h2 class="text-center text-white lead" style="font-size:30px">@ViewBag.NumeSite</h2>
<br />
@foreach (ASP_PROJECT.Models.Bookmark bookmark in ViewBag.Bookmarks)
{
    <a class="btn btn-success" href="/Bookmarks/Show/@bookmark.Id">

        @Html.Partial("BookmarkInfo", bookmark)

        <br />
        <br />
    </a>
}

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                   href="/Bookmarks/DateOrLike?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link"
                       href="/Bookmarks/DateOrLike?page=@i">@(i)</a>
                </li>
            }

            <li class="page-item">
                <a class="page-link"
                   href="/Bookmarks/DateOrLike?page=@(ViewBag.lastPage)" aria
                   label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
