@model ASP_PROJECT.Models.Bookmark

@if (ViewBag.message != null)
{

    <h2 class=@ViewBag.messageType>@ViewBag.message</h2>
}

<br />
<h2 class="text-center text-white lead" style="font-size:30px">Pagina Principala</h2>

<br />
@if (ViewBag.Bookmarks == null)
{
    <a class="a-tw" href="Bookmarks/DateOrLike/1"><h2>Postari Recente</h2></a>
    <br />
    @foreach (ASP_PROJECT.Models.Bookmark bookmark in ViewBag.BookmarksDate)
    {
        <a class="btn btn-success" href="/Bookmarks/Show/@bookmark.Id
        ">

            @Html.Partial("BookmarkInfo",bookmark)

            <br />
            <br />
        </a>
    }

    <br /><br />

    <a class="a-tw" href="Bookmarks/DateOrLike/2"><h2>Postari Populare</h2></a>
    <br />
    @foreach (ASP_PROJECT.Models.Bookmark bookmark in ViewBag.BookmarksLike)
    {
        <a class="btn btn-success" href="/Bookmarks/Show/@bookmark.Id
        ">

            @Html.Partial("BookmarkInfo", bookmark)

            <br />
            <br />
        </a>
    }
}
else
{
    @foreach (ASP_PROJECT.Models.Bookmark bookmark in ViewBag.Bookmarks)
    {
        <a class="btn btn-success" href="/Bookmarks/Show/@bookmark.Id
                ">

            @Html.Partial("BookmarkInfo", bookmark)

            <br />
            <br />
        </a>
    }
}



