html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    color: whitesmoke;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #212121;
}

.card-body,.card {
    border-radius: 25px;
    background-color: #303030;
}

.btn btn-success
{
    border-radius: 25px;
}

.navbar {
    background-color: #1c1c1c !important;
    border: none !important;
    box-shadow: 0 3px 12px #636e72 !important;
}

a.nav-link,button.nav-link {
    color: #f7f7f7 !important;
}

a.nav-link:hover,button.nav-link:hover {
        color: #d61609 !important;
    }

.btn-edit-outline {
    color: whitesmoke !important;
    border: 2px solid #d61609;
}

.btn-edit-outline:hover {
        border: 2px solid #d61609;
        border-radius:2px;
        background-color: gray !important;
        color: #d61609 !important;
    }

.border-white{
    border: 2px solid white;
    border-radius: 2px;
    padding: 10px;
    width:400px;
    height:100px;
    padding-bottom: 30px;
}

.a-tw {
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    justify-contente: center;
}
a.a-tw:hover{
    
    color:maroon;
}

.containerr{
    width:50%;
    height:40%;
}

.comentariu{
    color:white;
    overflow:hidden;
}

.ov{
    overflow:hidden;
}

.note-editor .dropdown-toggle::after {
    display: none;
}

.heart {
    content: '&#9829';
    color:maroon;
}

.box_total_6 {
    height: 800px;
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.box_total_4{
}

.box_total {
    display: grid;
    position:absolute;
    right:20px;
    grid-template-columns: 800px 700px;
}

.img {
    width: 300px !important;
    height: 300px !important;
}